{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--
    - primary meta tags
  -->
  <title>Tour and Packages</title>
  <meta name="Travel" content="Travel World with us"">
<!--  <meta name="description"-->
<!--    content="Read More And Make Success The Result Of Perfection. - Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ad harum quibusdam, assumenda quia explicabo.">-->

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="/static/css/packages.css">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&family=Poppins:wght@400;500;600&display=swap"
    rel="stylesheet">

</head>

<body>
 <!--
        - #CONTACT
      -->
 <div id="contact" style="background-image: url('/static/images/1.jpg'); background-size:cover; background-position: center;  height: 100vh;">

      <section class="section contact" id="Book Now" aria-label="contact">
        <div class="container">

          <p class="section-subtitle">Travel With BharatYatra</p>

          <h2 class="h2 section-title has-underline">
            Book Now
            <span class="span has-before"></span>
          </h2>

          <div class="wrapper">

            <form action="" class="contact-form">

              <input type="text" name="name" placeholder="Package Name" required class="input-field">
              <input type="text" name="name" placeholder="Departure City" required class="input-field">
              <input type="text" name="name" placeholder="Available Date" required class="input-field">
              <input type="text" name="name" placeholder="Number of Couples" required class="input-field">

              <input type="email" name="email_address" placeholder="Your Email" required class="input-field">

              <input type="text" name="subject" placeholder="Subject" required class="input-field">

              <textarea name="message" placeholder="Your Message" class="input-field"></textarea>

              <button type="submit" class="btn btn-primary">Send Now</button>

            </form>

            <ul class="contact-card">

              <li>
                <p class="card-title">Address:</p>

                <address class="address">
                  Pune <br>
                  Maharashtra, India
                </address>
              </li>

              <li>
                <p class="card-title">Phone:</p>

                <a href="tel:1234567890" class="card-link">123 456 7890</a>
              </li>

              <li>
                <p class="card-title">Email:</p>

                <a href="memberexperience@BharatYatraholidays.com" class="card-link">memberexperience@BharatYatraholidays.com</a>
              </li>

<!--              <li>-->
<!--                <p class="social-list-title h3">Connect book socials</p>-->

<!--                <ul class="social-list">-->

<!--                  <li>-->
<!--                    <a href="#" class="social-link">-->
<!--                      <ion-icon name="logo-facebook"></ion-icon>-->
<!--                    </a>-->
<!--                  </li>-->

<!--                  <li>-->
<!--                    <a href="#" class="social-link">-->
<!--                      <ion-icon name="logo-twitter"></ion-icon>-->
<!--                    </a>-->
<!--                  </li>-->

<!--                  <li>-->
<!--                    <a href="#" class="social-link">-->
<!--                      <ion-icon name="logo-linkedin"></ion-icon>-->
<!--                    </a>-->
<!--                  </li>-->

<!--                  <li>-->
<!--                    <a href="#" class="social-link">-->
<!--                      <ion-icon name="logo-youtube"></ion-icon>-->
<!--                    </a>-->
<!--                  </li>-->

<!--                  <li>-->
<!--                    <a href="#" class="social-link">-->
<!--                      <ion-icon name="logo-whatsapp"></ion-icon>-->
<!--                    </a>-->
<!--                  </li>-->

                </ul>
              </li>

            </ul>
          </div>
          </div>

        </div>
      </section>
      <section class="section preview" aria-label="preview">
        <div class="container">

          <p class="section-subtitle">Explore the unseen, discover the unknown, and escape the ordinary with BHaratYatra</p>

          <h2 class="h2 section-title has-underline">
            Explore. Dream. Discover.
            <span class="span has-before"></span>
          </h2>

          <ul class="tab-list">

            <li>
              <div class="tab-card active" data-tab-card>
                <h3 class="h3 tab-text">1</h3>

                <img src="/static/images/pic17.jpg" width="820" height="630" loading="lazy" alt="Chapter 1"
                  class="w-100">
                <h3>Golden Triangle Heritage</h3>
              </div>
            </li>

            <li>
              <div class="tab-card" data-tab-card>
                <h3 class="h3 tab-text">2</h3>

                <img src="/static/images/pic13.jpg" width="820" height="630" loading="lazy" alt="Chapter 2"
                  class="w-100">
                <h3>Spiritual Retreat - Varanasi and Rishikesh</h3>
              </div>
            </li>

            <li>
              <div class="tab-card" data-tab-card>
                <h3 class="h3 tab-text">3</h3>

                <img src="/static/images/pic14.jpg" width="820" height="630" loading="lazy" alt="Chapter 3"
                  class="w-100">
                <h3>Kerala Backwaters and Beaches</h3>
              </div>
            </li>

            <li>
              <div class="tab-card" data-tab-card>
                <h3 class="h3 tab-text">4</h3>

                <img src="/static/images/pic15.jpg" width="820" height="630"
                  class="w-100">
                <h3>Manali and Shimla</h3>
              </div>
            </li>

            <li>
              <div class="tab-card" data-tab-card>
                <h3 class="h3 tab-text">5</h3>

                <img src="/static/images/pic16.jpg" width="820" height="630" loading="lazy" alt="Chapter 5"
                  class="w-100">
                <h2>Kolkata, Bhubaneswar, & Puri</h2>
              </div>
            </li>

          </ul>
<div>
<!--       <a href="#" class="btn btn-primary" id="btn_type1">Book Now</a>-->

        </div>
        </div>


      </section>
      <script>
        'use strict';



/**
 * add event on element
 */

const addEventOnelem = function (elem, type, callback) {
  if (elem.length > 1) {
    for (let i = 0; i < elem.length; i++) {
      elem[i].addEventListener(type, callback);
    }
  } else {
    elem.addEventListener(type, callback);
  }
}


/**
 * header active on scroll down to 100px
 */

const header = document.querySelector("[data-header]");

const activeHeader = function () {
  if (window.scrollY > 100) {
    header.classList.add("active");
  } else {
    header.classList.remove("active");
  }
}

addEventOnelem(window, "scroll", activeHeader);



/**
 * filter tab
 */

const tabCard = document.querySelectorAll("[data-tab-card]");

let lastTabCard = tabCard[0];

const navigateTab = function () {
  lastTabCard.classList.remove("active");
  this.classList.add("active");
  lastTabCard = this;
}

addEventOnelem(tabCard, "click", navigateTab);
      </script>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
